<div class="row">
    <div class="col-3 text-center">
        <div class="btn btn-success">
            <i class="fa fa-2x fa-qrcode"></i>
            <i class="fa fa-2x fa-long-arrow-right"></i>
            <i class="fa fa-2x fa-qrcode"></i>
            <i class="fa fa-2x fa-sticker-2x fa-lock"></i>
            <br>
            Encrypt QR code
        </div>
    </div>
    <div class="col-3 text-center">
        <div class="btn btn-success">
            <i class="fa fa-2x fa-qrcode"></i>
            <i class="fa fa-2x fa-sticker-2x fa-lock"></i>
            <i class="fa fa-2x fa-long-arrow-right"></i>
            <i class="fa fa-2x fa-qrcode"></i>
            <br>
            Decrypt QR code
        </div>
    </div>
    <div class="col-3 text-center">
        <div class="btn btn-success">
            <i class="fa fa-2x fa-file-text"></i>
            <i class="fa fa-2x fa-long-arrow-right"></i>
            <i class="fa fa-2x fa-file-text"></i>
            <i class="fa fa-2x fa-sticker-2x fa-lock"></i>
            <br>
            Encrypt text
        </div>
    </div>
    <div class="col-3 text-center">
        <div class="btn btn-success">
            <i class="fa fa-2x fa-file-text"></i>
            <i class="fa fa-2x fa-sticker-2x fa-lock"></i>
            <i class="fa fa-2x fa-long-arrow-right"></i>
            <i class="fa fa-2x fa-file-text"></i>
            <br>
            Decrypt text
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12" id="module-root">

    </div>
</div>
