<div class="row">
    <div class="col text-center">
        <div class="btn btn-success js-show-home">
            <i class="fa fa-2x fa-dashboard"></i>
            <br>
            Home
        </div>
    </div>
    <div class="col text-center">
        <div class="btn btn-success js-start-encrypt-qr-code">
            <i class="fa fa-2x fa-qrcode"></i>
            <i class="fa fa-2x fa-long-arrow-right"></i>
            <i class="fa fa-2x fa-qrcode"></i>
            <i class="fa fa-2x fa-sticker-2x fa-lock"></i>
            <br>
            Encrypt QR code
        </div>
    </div>
    <div class="col text-center">
        <div class="btn btn-success js-start-decrypt-qr-code">
            <i class="fa fa-2x fa-qrcode"></i>
            <i class="fa fa-2x fa-sticker-2x fa-lock"></i>
            <i class="fa fa-2x fa-long-arrow-right"></i>
            <i class="fa fa-2x fa-qrcode"></i>
            <br>
            Decrypt QR code
        </div>
    </div>
    <div class="col text-center">
        <div class="btn btn-success js-start-encrypt-text">
            <i class="fa fa-2x fa-file-text"></i>
            <i class="fa fa-2x fa-long-arrow-right"></i>
            <i class="fa fa-2x fa-file-text"></i>
            <i class="fa fa-2x fa-sticker-2x fa-lock"></i>
            <br>
            Encrypt text
        </div>
    </div>
    <div class="col text-center">
        <div class="btn btn-success js-start-decrypt-text">
            <i class="fa fa-2x fa-file-text"></i>
            <i class="fa fa-2x fa-sticker-2x fa-lock"></i>
            <i class="fa fa-2x fa-long-arrow-right"></i>
            <i class="fa fa-2x fa-file-text"></i>
            <br>
            Decrypt text
        </div>
    </div>
</div>

<div class="row">
    <div class="col" id="module-root">

    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="text-center">Donations are highly welcome</div>
                BTC: 1EEDuQkQP3YzhHJxr1erqTzQh817LJUZJJ
                ETH: 0x64e36a7c17e3dbb83b61077ce3c7abfa1027fb40
                LTC: LRZKZFzJ1tQuC8i1CVgmFowqFtknnctneA
                DOGE: DB6UvSHMTF4F8GuYfvaCgCnSaXYdNeL7H3
            </div>
        </div>
    </div>
</div>
