<div class="scanner">
    <select class="camera-selector form-control"></select>
    <video class="preview"></video>
    <div class="copy-wrapper">
        <div class="js-copy copy-button btn btn-sm btn-dark">copy</div>
        <code id="plaintext" class="plaintext"></code>
    </div>
</div>
